<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target name="logfile"
            xsi:type="File"
            encoding="UTF-8"
            layout="[${longdate}][${level:uppercase=true}][${callsite}] ${message} ${exception:format=Message, Type, ToString:separator=*}"
            fileName="${basedir}/log/FeatureCAMExecutor2022.log"
            archiveNumbering="Date"
            archiveFileName="${basedir}/log/FeatureCAMExecutor2022_{#}.log"
            archiveEvery="Day" archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"/>
    <target name="console"
            xsi:type="ColoredConsole"
            encoding="UTF-8"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${message}"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="console"/>
    <logger name="*" level="Fatal" writeTo="console"/>
    <logger name="*" minlevel="Info" writeTo="logfile"/>

    <!-- Log levels
    -Trace- プロトコルのペイロードなど大量で詳細なデータを出力するときに使用する。開発中のみ有効
    -Debug- Traceレベルよりも詳細ではないデバック中のログを出力するときに使用する。開発中のみ有効
    -Info-  情報メッセージ。稼働環境で有効
    -Warn-  警告メッセージ。回復可能であるか、または一時的な障害に関する警告メッセージを出力する。
    -Error- エラーメッセージ。Exception情報を出力する。
    -Fatal- 非常に重大なエラーメッセージ。
    -->
  </rules>
</nlog>
